* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: sans-serif;
  color: #DAD8FF;
  font-weight: 400;
  user-select: none;
}

body {

  background: url(img/bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.content {
  background: #FFFFFF20;
  backdrop-filter: blur(1rem);
  border-radius: 2rem;
  overflow: hidden;
  width: 18rem;
}

.content section {
  background: #FFFFFF17;
  border-radius: 1.15rem;
  padding: 1rem;
  margin: .5rem 1rem;
}

.line {
  background: #DAD8FF;
  height: .06rem;
  margin: .1rem 0 .5rem 0;
}

.hdng {
  font-weight: 1000;
  font-size: 1.2rem;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  background: #FFFFFF17;
  border-radius: 1.75rem;
}

.profile img {
  width: 6.5rem;
  border-radius: 1.25rem;
  margin-bottom: .5rem;
}

.profile div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding:  .5rem;
  border-radius: 0 1.25rem 1.25rem 0;
  line-height: 1.8rem;
  font-weight: 1000;
  text-align: center;
}

.profile p {
  font-weight: 400;
}

ul li {
  margin-left: 1rem;
}

.handles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.handles section {
  margin: 0;
  width: 100%;
  text-align: center;
  padding: .75rem;
}

.handles section a {
  text-decoration: none;
  color: white;
}